---
import Layout from "../layouts/Layout.astro";
import ColabCard from "../components/Colab_card.astro";

import { getCollection } from "astro:content";
const contributors = await getCollection("contributors");
---

<Layout title="kukulc4n • All Contributors">
    <article class="text-center p-4">
        <h4 class="p-4">All Contributors</h4>
        {
            contributors.map((contributor) => {
                const { slug, data } = contributor;
                const { colab_name, tec, email, user_img } = data;
                return (
                    <ColabCard
                        colab_name={colab_name}
                        colab_email={email}
                        handle_tec={tec}
                        colab_img={user_img}
                    />
                );
            })
        }
    </article>
</Layout>
