<button id="theme_switch" class="theme-switch"
    ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-sun"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 19a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z"
        ></path><path
            d="M18.313 16.91l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.218 -1.567l.102 .07z"
        ></path><path
            d="M7.007 16.993a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z"
        ></path><path
            d="M4 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z"
        ></path><path
            d="M21 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z"
        ></path><path
            d="M6.213 4.81l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.217 -1.567l.102 .07z"
        ></path><path
            d="M19.107 4.893a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z"
        ></path><path
            d="M12 2a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z"
        ></path><path
            d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z"
        ></path></svg
    >
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-1"
    >
        <path
            d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
        ></path>
    </svg>
</button>
<script is:inline>
    function setDarkMode(document) {
        // Obtener el estado actual del modo oscuro desde localStorage
        let darkmode = localStorage.getItem("darkmode") || "deactivated";

        // Establecer el tema inicial en el atributo `data-theme`
        const theme = darkmode === "active" ? "dark" : "light";
        document.documentElement.dataset.theme = theme;

        // Referencia al botón
        const themeSwitch = document.getElementById("theme_switch");

        // Función para habilitar el modo oscuro
        const enableDarkMode = () => {
            document.body.classList.add("dark");
            localStorage.setItem("darkmode", "active");
        };

        // Función para deshabilitar el modo oscuro
        const disableDarkMode = () => {
            document.body.classList.remove("dark");
            localStorage.setItem("darkmode", "deactivated");
        };

        // Aplicar el estado inicial del modo oscuro
        if (darkmode === "active") enableDarkMode();

        // Agregar un evento al botón para alternar entre modos
        themeSwitch?.addEventListener("click", () => {
            darkmode = localStorage.getItem("darkmode");
            darkmode === "active" ? disableDarkMode() : enableDarkMode();

            // Actualizar el atributo `data-theme` después del cambio
            const newTheme = darkmode === "active" ? "light" : "dark";
            document.documentElement.dataset.theme = newTheme;
        });
    }

    // Inicializar el modo oscuro
    setDarkMode(document);

    // Manejar el evento `astro:before-swap` para mantener el estado del tema
    document.addEventListener("astro:before-swap", (event) => {
        setDarkMode(event.newDocument);
    });
</script>
