<button id="theme_switch" class="theme-switch"
    ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-1"
    >
        <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
        <path
            d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
        ></path>
    </svg>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-1"
    >
        <path
            d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
        ></path>
    </svg>
</button>
<script is:inline>
    function setDarkMode(document) {
        // Obtener el estado actual del modo oscuro desde localStorage
        let darkmode = localStorage.getItem("darkmode") || "deactivated";

        // Establecer el tema inicial en el atributo `data-theme`
        const theme = darkmode === "active" ? "dark" : "light";
        document.documentElement.dataset.theme = theme;

        // Referencia al botón
        const themeSwitch = document.getElementById("theme_switch");

        // Función para habilitar el modo oscuro
        const enableDarkMode = () => {
            document.body.classList.add("dark");
            localStorage.setItem("darkmode", "active");
        };

        // Función para deshabilitar el modo oscuro
        const disableDarkMode = () => {
            document.body.classList.remove("dark");
            localStorage.setItem("darkmode", "deactivated");
        };

        // Aplicar el estado inicial del modo oscuro
        if (darkmode === "active") enableDarkMode();

        // Agregar un evento al botón para alternar entre modos
        themeSwitch?.addEventListener("click", () => {
            darkmode = localStorage.getItem("darkmode");
            darkmode === "active" ? disableDarkMode() : enableDarkMode();

            // Actualizar el atributo `data-theme` después del cambio
            const newTheme = darkmode === "active" ? "light" : "dark";
            document.documentElement.dataset.theme = newTheme;
        });
    }

    // Inicializar el modo oscuro
    setDarkMode(document);

    // Manejar el evento `astro:before-swap` para mantener el estado del tema
    document.addEventListener("astro:before-swap", (event) => {
        setDarkMode(event.newDocument);
    });
</script>
