---
interface CardProyectProps {
    project_name: string;
    made_by: string;
    //img: string;
    tec_use: string;
}

const { project_name, made_by, tec_use } = Astro.props;
---

<div
    class="min-w-min max-w-fit felx flex-col items-center bg-blue-400 border-2 rounded-lg"
>
    <div class="justify-self-center p-2">
        <div class="size-32 flex flex-nowrap">
            <img src="no_foto_user.PNG" />
            <img src="Valeriana.png" />
        </div>
    </div>
    <div class="grid grid-rows-1 relative flex-nowrap py-2">
        <button id="Prev" class="absolute top-1/2 left-0">⬅</button>

        <button id="Next" class="absolute top-1/2 right-0">➡</button>
    </div>

    <div class="place-items-start p-2">
        <h2>Project: {project_name}</h2>
        <p>By: {made_by}</p>
        <p>Tec invol: {tec_use}</p>
    </div>
</div>
