---
import FooterButton from "../components/Footer_button.jsx";
---

<div class="flex
      justify-center
      space-x-4
      p-4">
  hola5
  <FooterButton
    >hola4
    <a href="https://www.instagram.com/" slot="insta">
      hola3<svg xmlns="http://www.w3.org/2000/svg"></svg>
    </a>hola2
  </FooterButton>hola
</div>
