---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.jsx";
import Alert from "../components/Alert.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" class="overflow-y-scroll hide-scrollbar">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gray-900 text-white">
    <Header />
    <main class="max-w-5xl px-4 m-auto">
      <slot />
    </main>
    <Footer />
  </body><style is:global>
    html {
      font-family: system-ui, sans-serif;
      background: #13151a;
      background-size: 224px;
      color-scheme: Dark light;
    }
  </style>
</html>
